<div class='container'>
	<div class='row clearfix'>
      <div class="col-md-12 column">
        <div class="jumbotron">
				<h1 class='main-title'>
					BlackProfessionals.Net
				</h1>
		</div>
      </div>
      <div class="col-md-8 column">

      </div>
      <div class="col-md-4 column">
        <h2>Recommended Users</h2>
        <hr/>
        <% if @recommendations.empty? %>
          <p class= 'no-recommendations'> There are no recommendations for you at this moment </p>
        <% else %>
          <% @recommendations.each do |r| %>
            <div class= 'row'>
              <div class= 'recommendation-image col-md-4'>
                <% if r.profile_image_url %>

                  <%= image_tag(r.profile_image_url, alt: 'Profile Image') %>
                <% else %>
                  <img src="../../assets/generic_avatar.png">
                <% end %>
              </div>

              <div class= 'col-md-8'>
                <p class='recommendation-title'>
                  <%= r.first_name %> <%= r.last_name %>
                </p>
                <p class= 'recommendation-description'>
                  <%= r.job_title %> at <%= r.industry %>
                </p>
                <%= link_to "Connect", '#', class: 'btn btn-default' %>
              </div>
            </div>
            <br/>
        <% end %>
        <% end %>
      </div>
	</div>
</div>
