<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BP.Net</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group" style="width: 400px !important;">
          <input type="text" class="form-control" style="width: 100%" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Messages</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Settings</a></li>
        <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="navcontainer">
  <ul id="navlist">
    <li><%= link_to 'Home',root_path %></li>
    <li>|</li>
    <li id='active'><%= link_to 'Profile', profile_index_path %> </li>
    <li>|</li>
    <li><a href="#">Jobs</a></li>
    <li>|</li>
    <li><a href="#">Connections</a></li>
    <li>|</li>
    <li><a href="#">Interests</a></li>
  </ul>
</div>

<div class='container'>
	<div class='row clearfix'>
      <div class="col-md-12 column">

	    <div class='col-md-offset-2 row profile'>
          <div class='col-md-2'>
              <img src="http://placehold.it/150x150" class='profile-picture'>
              <div style='text-align: center; margin-top: 5%'>
               <%= link_to 'Import from Linkedin', import_profile_index_path, class: 'btn btn-default' %>
             </div>
           </div>
          <div class='col-md-8 profile-form'>
            <%= form_for(@user, url: profile_path(@user)) do |f| %>
              <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :industry %>
                <%= f.text_field :industry, :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :job_title %>
                <%= f.text_field :job_title, :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :country %>
                <%= f.text_field :country, :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :zip_code %>
                <%= f.text_field :zip_code, :class => "form-control" %>
              </div>
              <br/>
                <%= link_to 'Reset', edit_profile_path(@user), class: 'btn btn-default' %>
                <%= link_to 'Cancel', profile_path(@user), class: 'btn btn-default' %>
                <%= f.submit "Submit" , :class => "btn btn-primary" %>

             <% end %>
        </div>
      </div>
	</div>
</div>



