<div class='container'>
	<div class='row clearfix'>
      <div class="col-md-12 column">
  
	    <div class='col-md-offset-2 row profile'>
          <div class='col-md-2'> 
            <img src="http://placehold.it/150x150">
          </div>
          <div class='col-md-8'>
            <div class=' profile-title clearfix'>
              <div style='float: left; font-weight: bold; font-size: 250%'>
                <%= @user.first_name %> <%= @user.last_name %>            	
              </div>
              <div style='float: left; margin-left: 2% '>
                <%= button_to 'Edit', edit_profile_path(@user), class: 'btn btn-warning' %>
              </div>             	 
            </div>
            <br/>
            <div>
              <%= @user.job_title %> at <%= @user.industry %>
            </div>
            <br/>
            <div>
               <%= @user.country %>
            </div>   
          </div>
	    </div>	
      </div>
	</div>
</div>



