<!DOCTYPE html>
<html>
<head>
  <title>Blackprofessionals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BP.Net</a>
    </div>
<% end %>

<% if user_signed_in? %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group" style="width: 400px !important;">
          <input type="text" class="form-control" style="width: 100%" placeholder="Search">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> <img src="../../assets/message.png"></li></a>
        <li><a href="#"> <img src="../../assets/notifications.png"></li></a>
        <li><a href="#"> <img src="../../assets/settings.png"></li></a>
<% end %>
        <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
              <!--<%= link_to('Login', new_user_session_path)  %>-->
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if user_signed_in? %>
<div id="navcontainer">
  <ul id="navlist">
    <li><%= link_to 'Home',root_path %></li>
    <li>|</li>
    <li id='active'><%= link_to 'Profile', profile_index_path %> </li>
    <li>|</li>
    <li><a href="#">Jobs</a></li>
    <li>|</li>
    <li><a href="#">Connections</a></li>
    <li>|</li>
    <li><a href="#">Interests</a></li>
  </ul>
</div>
<% end %>

<%= yield %>

</body>
</html>
